<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tarea2"
        tools:targetApi="31">
        <activity
            android:name=".Reserva_Exitosa"
            android:exported="false"
            android:label="@string/title_activity_reserva_exitosa"
            android:theme="@style/Theme.Tarea2" />
        <activity
            android:name=".Maquillaje"
            android:exported="false"
            android:label="@string/title_activity_maquillaje"
            android:theme="@style/Theme.Tarea2" />
        <activity
            android:name=".Manicura"
            android:exported="false"
            android:label="@string/title_activity_manicura"
            android:theme="@style/Theme.Tarea2" />
        <activity
            android:name=".Alaciado_Cabello"
            android:exported="false"
            android:label="@string/title_activity_alaciado_cabello"
            android:theme="@style/Theme.Tarea2" />
        <activity
            android:name=".Corte_Cabello"
            android:exported="false"
            android:label="@string/title_activity_corte_cabello"
            android:theme="@style/Theme.Tarea2" />
        <activity
            android:name=".Inicio"
            android:exported="false"
            android:label="@string/title_activity_inicio"
            android:theme="@style/Theme.Tarea2" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Tarea2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>